:root {
  --adjuster: 30px;
  --background: #FFEC9E;
  --background2: #F7C566;
  --text: #6C0345;
  --border: #DC6B19;

}

/* styles.css */
body {
  font-family: Gloria Hallelujah, cursive;
  margin: 0;
  padding: 0;
  background-color: var(--background2); /* Pastel blue background */
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  font-family: Gloria Hallelujah, cursive;
  color: var(--text); /* Light pastel blue */
  background-color: var(--background2);
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #FFE6E6;
  text-decoration: none;
  font-size: 1.2em;
}

main {
  padding: 20px;
}

section {
  background: var(--background2); /* White background for sections */
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /*border: 5px solid #AD88C6; /* Light pastel blue border */
}

section h2 {
  color: var(--text); /* A slightly darker pastel blue */
}

section p {
  color: #000000; /* Soft gray-blue for text */
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: var(--background2); /* Light pastel blue */
  color:var(--text);
}

/* Additional styling for images */
section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border: 2px solid #e6f7ff; /* Matching the background color */
  border-radius: 8px;
}

/* Timeline styling */
#timeline {
  padding: 20px;
  background-color: var(--background2); /* Lighter pastel blue */
  /*border-left: 5px solid #AD88C6; /* Darker pastel blue border */
}

.timeline {
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #E1AFD1; /* Light pastel blue */
  margin-left: -2px;
}

.timeline-item {
  position: relative;
  margin: 20px 0;
  width: calc(50% - 70px);
  padding: 20px;
  background: var(--background);
  border: var(--border) 2px solid;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: calc(100% + var(--adjuster) - 12.5px);
  /* left : calc(50% - 12.5px); */
  background-color: var(--text);
  /* border: 4px solid #FFE6E6; */
  top: 20px;
  border-radius: 50%;
  z-index: 1;
  /* transform: translateX(-50%) */
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(120% );
  left : calc(100% + var(--adjuster) - (2px ));
  /* left : calc(50% - 2px); */
  background-color: var(--border); /* Light pastel blue */
  /* top: 20px; */
  
  z-index: 0;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: calc(50% + 30px);
}

.timeline-item:nth-child(even)::after {
  left: calc(0% - 12.5px - var(--adjuster))
}
/* .timeline-item:nth-child(odd)::before {
  right: calc(0% - 45px);
} */
.timeline-item:nth-child(even)::before {
  left: calc(0% - 2px - var(--adjuster));
}

.timeline-date {
  font-weight: bold;
  color: var(--text); /* Darker pastel blue */
  margin-bottom: 10px;
  text-align: center;
}

.timeline-content {
  color: #000000; /* Soft gray-blue for text */
}

.timeline-content img {
  max-width: 100%;
  height: auto;
  border: 2px solid #e6f7ff; /* Matching the background color */
  border-radius: 8px;
  margin-bottom: 10px;
}